h1 {
  text-align: center;
}

.main {
  background-color: white;
  padding: 15px 0 ;
}

.body {
  width: 250px;
  height: 20px;
  margin: 10px auto;
}

.one {
  background: linear-gradient(rgba(133,0,2,0.9),rgba(243,0,5,1), rgba(133,0,2,0.9));
}
.two {
  background: linear-gradient(rgba(0, 172, 0.5),#44d444,rgba(0, 172, 0.5));
}
.three {
  background: linear-gradient(rgba(0, 0, 180, 0.7), rgb(4, 4, 197), rgba(6, 6, 204, 0.7));
}