@import url('https://fonts.googleapis.com/css?family=Lato');

body, html {
  height: 100%;
  background: #222222;
  font-family: 'Lato', sans-serif;
  color: #aaaaaa;
}

h2 {
  margin: 20px;
}

.container {
  margin: 25px;
  font-size: 20px;
  overflow: auto;
  color: #aaaaaa;
  border-bottom: 1px solid #333;
  padding-bottom: 26px;
  /* cursor: pointer; */

}


label:hover ,input {
  color: #ffffff;
  cursor: pointer;
}


input[type=radio]:checked {
  border: 5px solid #0DFF92;
}