img {
  width: 300px;
}

body {
  display: flex;
  margin: 10px;
}
.img {
  border: 2px solid grey;
  display: inline-block;
  width: 300px;
  box-shadow: 5px 5px gray;
  /* overflow: hidden; */
  margin: 5px;
  transition: background-color 2s, transform 60ms;
}

.img h2 {
  overflow: hidden;
  white-space: nowrap;
  /* display: -webkit-box; */
  text-overflow: ellipsis;
  word-break: break-word;
}

.img p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.img:hover {
  background-color: cornsilk;
  transform: scale(1.1);
}
